!!! XML
!!! Strict

%html{ html_attrs('en-US') }
  %head
    %title JSER
    %link{ :rel => "stylesheet", :type => "text/css", :href => "style.css" }
    %script{ :type => "text/javascript", :src => "prototype.js" }

  %body
    #container
      #buttons
        #b.inline.button<
          %b B
        #i.inline.button<
          %i I
        #u.inline.button<
          %u U

      #editor

    %script{ :type => "text/javascript", :src => "jser.js" }
    %script{ :type => "text/javascript", :src => "init.js" }
