* {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body {
	background-color: #F3F3F3;
}

#container {
	width: 80%;
	margin: 0 auto;
}

#buttons {
	width: 98%;
	height: 1.5em;
	padding: 0.25em 1%;
	background-color: #AAAAAA;
	border: 1px solid transparent;
}

#editor {
	width: 94%;
	border: 1px solid #AAAAAA;
	border-top: none;
	background-color: #FFFFFF;
	min-height: 400px;
	padding: 3%;
	font-size: 0.9em;
	cursor: text;
}

.inline {
	display: inline;
	padding: 0.25em 0.5em;
}

.button {
	font-size: 1.1em;
	font-family: monospace;
	cursor: pointer;
	border: 1px solid transparent;
	-moz-border-radius: 5px;
}

.button:hover {
	background-color: #F3F3F3;
	border: 1px solid #808080;
}

.active, .active:hover {
	background-color: #D3D3D3;
	border: 1px solid #999999;
}

#cursor {
	margin: 0 -3px;
}
