* {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body {
	background-color: #F3F3F3;
}

#container {
	width: 80%;
	margin: 0 auto;
}

#menu {
	width: 98%;
	height: 30px;
	padding: 4px 1% 0 1%;
	background-color: #F7FFBF;
	border: 1px solid #AAAAAA;
	border-top: none;
}

#editor {
	width: 94%;
	padding: 3%;
	border: 1px solid #AAAAAA;
	border-top: none;
	background-color: #FFFFFF;
	min-height: 400px;
	font-size: 0.9em;
	cursor: text;
}

.button {
	height: 16px;
	width: 16px;
	padding: 4px;
	margin: 0 2px;
	float: left;
	cursor: pointer;
	border: 1px solid transparent;
	-moz-border-radius: 5px;
}

.button:hover {
	background-color: #FFFFFF;
	border: 1px solid #808080;
}

.active, .active:hover {
	background-color: #EFEFEF;
	border: 1px solid #999999;
}

#cursor {
	margin: 0 -3px;
	-moz-user-select: none;
}

ul, ol {
	margin: 1em 2em;
}

p {
	line-height: 1.5em;
	margin-bottom: 2em;
}

label {
	display: inline-block;
	width: 6em;
	text-align: right;
	margin: 0 0.5em 0.5em 0;
}

input[type="text"] {
	display: inline-block;
	margin-bottom: 0.5em;
}

input[type="button"] {
	padding: 0 0.5em;
	margin: 0.25em;
}

input[type="checkbox"] {
	margin: 0.25em 0.5em;
}

/* Thanks to http://www.emanueleferonato.com for the CSS lightbox idea */
div#overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 1001;
	opacity: 0.50;
}

div#lightbox {
	display: none;
	position: absolute;
	top: 0;
	left: 50%;
	padding: 1% 2.5%;
	border: 10px solid #F1FF8F;
	background-color: white;
	z-index: 1002;
}

/* Thanks to http://www.wpdfd.com for centering lightbox idea */
div#horizon {
	position: absolute;
	overflow: visible;
	top: 50%;
	left: 0;
	width: 100%;
	height: 1px;
}

