* {
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body {
	background-color: #F3F3F3;
}

#container {
	width: 80%;
	margin: 0 auto;
}

#buttons {
	width: 98%;
	height: 30px;
	padding: 4px 1% 0 1%;
	background-color: #F7FFBF;
	border: 1px solid #AAAAAA;
	border-top: none;
}

#editor {
	width: 94%;
	padding: 3%;
	border: 1px solid #AAAAAA;
	border-top: none;
	background-color: #FFFFFF;
	min-height: 400px;
	font-size: 0.9em;
	cursor: text;
}

.button {
	height: 16px;
	width: 16px;
	padding: 4px;
	margin: 0 2px;
	float: left;
	cursor: pointer;
	border: 1px solid transparent;
	-moz-border-radius: 5px;
}

.button:hover {
	background-color: #FFFFFF;
	border: 1px solid #808080;
}

.active, .active:hover {
	background-color: #EFEFEF;
	border: 1px solid #999999;
}

#cursor {
	margin: 0 -3px;
	-moz-user-select: none;
}

ul, ol {
	margin: 1em 2em;
}
